# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next/
dist/
build/

# Env
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/

# Documentation
docs/

# その他
*.pem
*.key
*.crt
*.bak
*~ 